catkin_pkg
cv_bridge
fuzzywuzzy
genpy
image_geometry
matplotlib
moveit_commander
numpy
opencv_python
pandas
Pillow
protobuf
pyclustering
pyrsistent
python_Levenshtein
rospkg
rospy
sensor_msgs
setuptools
six
tf
tf2_geometry_msgs
tf2_ros
tf_conversions
torch==1.10.1
torchvision==0.11.2
transformers
yolov5
protobuf==3.20.3
