<?xml version="1.0"?>
<launch>
  <!-- Gazebo/Moveit world with the Aedificium from Uberto Eco's "name of the rose"
  -->

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />


  <!-- upload the robot xacro/urdf to the param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro --inorder $(find tams_books_world)/urdf/coffee_cup_bookend_demo.xacro" />


  <!-- publish world transform to tf -->
  <node pkg="tf" type="static_transform_publisher" 
        name="static_map_tf_publisher" args="0 0 0.05 0 0 0 world coffee_cup_bookend 100" />


 <!-- publishes robot-state, reading the urdf robot model from "doro_description",
       subscribing to /joint_states and publishing to /tf -->
  <node pkg="robot_state_publisher" type="state_publisher" respawn="false"
        name="dummy_state_publisher">
     <param name="publish_frequency" type="double" value="100.0" />
     <param name="tf_prefix" type="string" value="" />
     <param name="robot_description" command="$(find xacro)/xacro --inorder $(find tams_books_world)/urdf/coffee_cup_bookend_demo.xacro" />  
     <remap from="joint_states" to="/joint_states" />
 </node>



  <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"
        args="-d $(find tams_books_world)/config/books_demo.rviz" />

</launch>
