/ocr/craft
/data
**/*.pth
**/*.pt
__pycache__
.vscode
.vscode/**
.idea
cmake-build-debug
**/*.png

librarian_vision_node/models/segmentation/best.pt
librarian_vision_node/models/segmentation/models/
librarian_vision_node/models/segmentation/result_data/
librarian_vision_node/models/segmentation/runs/
librarian_vision_node/models/segmentation/segmentation_test.ipynb
librarian_vision_node/models/segmentation/test_data/
librarian_vision_node/models/segmentation/yolo_test.ipynb
librarian_vision_node/models/segmentation/yolo_utils.py
librarian_vision_node/models/segmentation/yolov5/
librarian_vision_node/models/segmentation/yolov5s.pt
librarian_vision_node/models/yolo_utils.py
