<?xml version="1.0"?>

<model>
  <name>shelf</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mykhailo Koshil</name>
    <email>Mykhailo.koshil@informatik.uni-hamburg.de</email>
  </author>

  <description>
    Shelf for the project
  </description>
</model>
