<?xml version="1.0" ?>
<robot name="bookshelf_teak"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo/Moveit model of a 2-board bookshelf

       (C) 2021 fnh, hendrich@informatik.uni-hamburg.de
  -->

  <xacro:include filename="$(find tams_books_world)/urdf/bookshelf.xacro" />

  <xacro:bookshelf_2 name="bookshelf_teak" sx="0.4" sy="1.0" sz="0.6" tt="0.02" 
                     meshname="board-medium.dae" rear_board="true" >
  </xacro:bookshelf_2>

</robot>

