<?xml version="1.0" ?>
<robot name="book_titan"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 
       ROS URDF model of the "E3D Titan Extruder" box.
       Origin and center of mass are at the center of the mesh.

       (C) 2022 fnh, hendrich@informatik.uni-hamburg.de
  -->
  <!-- main body with Collada mesh for both visual and collision -->

  <xacro:include filename="$(find tams_books_world)/urdf/book_cube.xacro" />

  <xacro:book_cube 
      name="book_titan"
      weight="0.828"
      mesh="book-titan.dae"
      xsize="0.103"
      ysize="0.058"
      zsize="0.153"
  />

</robot>

