<?xml version="1.0" ?>
<robot name="book_knuth_40"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- 
       ROS URDF model of "D.E.Knuth: AOCP, Volume 4, Fascile 0", 2008.
       Origin and center of mass are at the center of the mesh.

       (C) 2019 fnh, hendrich@informatik.uni-hamburg.de
  -->
  <!-- main body with Collada mesh for both visual and collision -->

  <xacro:include filename="$(find tams_books_world)/urdf/book_cube.xacro" />

  <xacro:book_cube 
      name="book_knuth_40"
      weight="0.400"
      mesh="book-knuth-40.dae"
      xsize="0.161"
      ysize="0.014"
      zsize="0.240"
  />

</robot>

